<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Bar de picadas, cerveceria, bodegon porteño." />
    <meta name="keywords" content="picadas, cerveceria, bar, bodegon, esquina vernet" />
    <meta name="author" content="COMISION 23026 - GRUPO 1" />
    <meta property="og:title" content="ESQUINA VERNET">
    <meta property="og:description"
        content="Bar de picadas, cerveceria, bodegon porteño. Lugar de encuentro y muy buena comida!!! " />
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://gargolian.github.io/EsquinaVernet/">
    <meta property="og:image" content="https://gargolian.github.io/EsquinaVernet/img/img_OGTEMP.jpg">
    <meta http-equiv="Permissions-Policy" content="interest-cohort=()">
    <link rel="stylesheet" href="../css/estilo.css">
    <link rel="shortcut icon" type="image/x-icon" href="../favicon/android-chrome-192x192.png">
    <script src="https://kit.fontawesome.com/488b0d20be.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>Esquina Vernet - Menu</title>
</head>

<body>
    <header id="header">
        <!-- Header agregado por JS -->
    </header>
    <main>
        <div class="menu">
            <div class="heading">
                <h1> Esquina Vernet</h1>
                <h3>&mdash; Menu &mdash;</h3>
                <!-- <a href="plato_del_dia.html"><button> Plato del dia internacional</button></a> -->
            </div>
        </div>
        <div id="app" class="container">
            <a class="btn btn-primary" href="../templates/producto_nuevo.html">Nuevo</a>
            <br><br>
            <div v-if="error">
                <p>Lo sentimos , ........</p>
            </div>
            <div v-else>
                <section v-if="cargando">
                    <div class="spinner-border"></div>
                    <p>Cargando .....</p>
                </section>
                <section v-else class="w-100">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
                        <!-- <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 ">-->
                        <div class="card border-secondary" v-for="plato in platos">
                            <div class="card-header text-center fw-bolder text-uppercase">
                                {{ plato.nombre }}
                            </div>
                            <img :src="plato.imagen" :alt="plato.nombre" alt="card-img-top"
                                class="img-thumbnail img-fluid h-50">
                            <!-- <img src="../img/Hamburguesa.jpg" class="card-img-top" alt="card-img-top"> -->
                            <div class="card-body">
                                <p class="card-text"><small
                                        class="text-muted blockquote-footer">{{plato.descrip}}</small></p>
                                <h3 class="card-text text-end">Precio: $ {{ plato.precio }}</h3>
                            </div>
                            <div class="card-footer">
                                <a class="btn btn-primary w-50"
                                    :href="'./plato_editar.html?id='+ plato.id">Editar</a>
                                <button type="button" class="btn btn-danger w-50"
                                    v-on:click="eliminar(plato.id)">Eliminar</button>
                            </div>

                        </div>
                    </div>
                </section>
            </div>
        </div>
        </div>
    </main>
    <!-- ******************** FOOTER ******************** -->
    <footer>
        <div class="footer">
            <div class="footer__container">
                <div class="footer__author">
                    <p> &copy; Com. 23026 - Equipo Nro. 1 </p>
                </div>
                <div class="footer__alero">
                    <img src="../img/F_alero_1.jpg" alt="">
                </div>
            </div>
        </div>
    </footer>
    <!-- ******************** FIN FOOTER ******************** -->
    <script>
        <!--Link de Bootstrap-->
        src = "https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity = "sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin = "anonymous"</script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
        crossorigin="anonymous"></script>
    <script src="../JS/main.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script><!--Link de VUE-->
    <script src="../JS/platos.js"></script>
    <script src="../JS/app.js"></script>
</body>


</html>